{% extends 'index.html' %}
{% load static %}

{% block title %}About{% endblock title %}

{% block Banner %}
<div class="about_banner">
    <video autoplay loop>
        <source src="{% static 'videos/about_gojo.mp4' %}" type="video/mp4">
        Your browser does not support the video tag.
    </video>
</div>
{% endblock Banner %}

{% block main-content%}

<div id="AboutUs">
    <h1>Welcome to Akatsuki: Where Anime Unites!</h1>
    <div class="content">
        <p>Akatsuki is your ultimate destination for premium anime merchandise. Inspired by the enigmatic nature of its namesake, our store curates a diverse collection, from figurines to apparel, capturing the essence of your favorite series.</p>
    </div>
    <div class="content">
        <p><strong>Our Promise:</strong></p>
        <p>We're committed to authenticity and quality, collaborating directly with licensed distributors. Your satisfaction drives us, echoing the dedication of our namesake's members.</p>
    </div>
    <div class="content">
        <p><strong>Join Us:</strong></p>
        <p>Embrace the thrill of anime fandom with Akatsuki. Discover treasures from classics to the latest releases—all waiting to become part of your collection.</p>
    </div>
    <p class="team">- The Akatsuki Team</p>
</div>


{% endblock main-content%}
