{% extends 'index.html' %}
{% load static %}

{% block title %}Category{% endblock title %}
{% block main-content%}
<section id="products" class="products">
    <div class="container">
        <div class="row">
          <div class="title-sectioncol-12">
            <h2 class="text-uppercase">{{ value }}</h2>
          </div>
        </div>
        <div class="row">
        {% for product in products %}
        <div class="col-lg-4 col-md-4 col-12">
            <div class="single-product">
                <div class="product-img">
                    <a href="#">
                        <img class="default-img" src="{{ product.prodimg.url }}" alt="#">
                        <span class="out-of-stock">Hot</span>
                    </a>
                </div>
                <div class="product-content d-flex flex-column">
                    <h3><a href="#">{{product.Title}}</a></h3>
                    <div class="product-price">
                        <span class="old">${{product.discounted_price}}0</span>
                        <span>${{product.selling_price}}</span>
                    </div>
                </div>
                <div class="Buy_now_btn">
                    <a href="#" class="cat_buy_now">Buy Now</a>
                </div>
            </div>
        </div>
        {% endfor %}
        <!-- {% for product in products %}
          <div class="col-lg-4 col-md-6 item-entry mb-4">
            <a href="#" class="product-item md-height bg-gray d-block">
              <img src="{{ product.prodimg.url }}" alt="Image" class="img-fluid">
            </a>
            <h2 class="item-title"><a href="#">Blue Shoe High Heels</a></h2>
            <strong class="item-price"><del>${{product.discounted_price}}</del> ${{product.selling_price}}</strong>
          </div>
          {% endfor %} -->
        </div>
    </div>
</section>






{% endblock main-content%}