{% extends 'index.html' %}
{% load static %}

{% block title %}product{% endblock title %}
{% block main-content%}
<section class="my-5" id="Description">
    <div class="row">
        <div class="col-lg-5">
            <div class="text-end mb-4 desc_img">
                <img src="{{ product.prodimg.url }}" class="img-fluid" alt="Product-img">
            </div>
        </div>
        <div class="col-lg-6">
            <div class="ps-lg-4">
                <h2 class="mt-0"> {{product.Title}} </h2>
                <p class="mb-1">Added Date: 09/12/2018</p>
                <p class="mb-1">Category: {{product.category}}</p>
                <div class="mt-3">
                    {% if product.quantity >= 1 %}
                        <h4><span class="badge">Instock</span></h4>
                    {% else %}
                        <h4><span class="badge">Out Of Stock</span></h4>
                    {% endif %} 
                </div>
                <div class="mt-4">
                    <h6 class="font-14">Retail Price:</h6>
                    <h3>${{product.selling_price}}</h3>
                    <span class="old">${{product.discounted_price}}</span>
                </div>
                <div class="mt-4">
                    {% if product.quantity >= 1 %}
                    <div class="d-flex desc_inp">
                        <form action="/add_to_cart">
                            <input type="hidden" name="prod_id" value="{{product.id}}">
                            <button type="submit" class="add_btn btn btn-danger ms-2"><i class="fa fa-shopping-cart"></i> Add to cart</button>
                        </form>
                        {% if wishlist %}
                        <a class="add_btn btn btn-danger ms-2 like" id="{{product.id}}" onclick="unlike(this)">
                            <i class="fa fa-heart"></i>
                        </a>
                        {% else %}
                        <a class="add_btn btn btn-danger ms-2 unlike" id="{{product.id}}" onclick="like(this)">
                            <i class="fa fa-heart"></i>
                        </a>
                        {% endif %}

                       
                    </div>
                    {% endif %}
                </div>
                <div class="mt-4">
                    <h6 class="">Description:</h6>
                    <p>{{product.Description}}</p>
                    <p>
                        Most Pre-Orders will be delayed by 1-2 months. If your pre-order is delayed, you will be notified via email by the end of the month.
                        Orders containing multiple products may be shipped out in separate packages.
                        Orders shipping outside of the U.S. may be subject to additional fees such as import / customs fees. These fees are applied per package, and are not included in the cost of the order. The customer is responsible for any import / customs fees incurred.
                        Returns are accepted for most items within 45 days from the delivery date.
                        Digital goods, open DVDs and Blu-rays, smart art prints, mystery bundles, and final sale items are excluded from the return policy.
                        For more details on our Shipping and Return policy check our 
                        FAQ
                    </p>
                </div>
                <div class="mt-4">
                    <div class="row">
                        <div class="col-md-4">
                            <h6 class="font-14">Available Stock:</h6>
                            <p class="text-sm lh-150">{{product.quantity}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr class="my-2">
    <div id="products" class="products">
        <div class="container">
            <div class="row">
                <div class="title-sectioncol-12">
                  <h3 class="text-start head_rel text-uppercase">all related items</h3>
                </div>
              </div>
            <div class="row">
            {% for product in R_prods %}
            <div class="col-lg-4 col-md-4 col-12">
                <div class="single-product">
                    <div class="product-img">
                        <a href="{% url 'product-detail' product.id %}">
                            <img class="default-img" src="{{ product.prodimg.url }}" alt="#">
                            {% if product.quantity >= 1 %}
                                <span class="out-of-stock">Hot</span>
                            {% else %}
                                <span class="out-of-stock">Out of Stock</span>
                            {% endif %}
                        </a>
                    </div>
                    <div class="product-content d-flex flex-column">
                        <h3><a href="{% url 'product-detail' product.id %}">{{product.Title}}</a></h3>
                        <div class="product-price">
                            <span class="old">${{product.discounted_price}}</span>
                            <span>${{product.selling_price}}</span>
                        </div>
                    </div>
                    {% if product.quantity >= 1 %}
                    <form action="/add_to_cart">
                      <input type="hidden" name="prod_id" value="{{product.id}}">
                      <button type="submit" class="cat_buy_now">Add to cart</button>
                      <!-- <div class="Buy_now_btn">
                        <a href="{% url 'showcart' %}" class="cat_buy_now">Buy Now</a>
                      </div> -->
                    </form>
                    {% endif %}
                 
                </div>
            </div>
            {% endfor %}
            <!-- {% for product in products %}
              <div class="col-lg-4 col-md-6 item-entry mb-4">
                <a href="#" class="product-item md-height bg-gray d-block">
                  <img src="{{ product.prodimg.url }}" alt="Image" class="img-fluid">
                </a>
                <h2 class="item-title"><a href="#">Blue Shoe High Heels</a></h2>
                <strong class="item-price"><del>${{product.discounted_price}}</del> ${{product.selling_price}}</strong>
              </div>
              {% endfor %} -->
            </div>
        </div>
    </div>
</section>
{% endblock main-content%}
