@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none !important;
  outline: none;
  cursor: url("https://cdn.custom-cursor.com/db/cursor/32/Naruto_Sakura_HarunoKunaiShurikenCursor.png"),auto  !important;
}

body {
  background: #f2f2f2;
}

nav {
  display: block;
  background: #171c24;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 0 50px;
}

nav .logo {
  color: #b5121a;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: -1px;
}
nav .nav-items {
  display: flex;
  padding: 0 0 0 40px;
}

nav .nav-items li {
  padding: 0 15px;
}

nav .nav-items li a{
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  transition: 0.3s ease;
}

nav .nav-items li a:hover {
  color: #b5121a;
  background-color: #171c24;
}

nav form {
  display: flex;
  height: 40px;
  padding: 2px;
  background: #1e232b;
  min-width: 18% !important;
  border-radius: 10px;
  border: 1px solid rgba(155, 155, 155, 0.2);
}

nav form .search-input {
  height: 100%;
  width: 100%;
  background: none;
  border: none;
  padding: 0 10px;
  color: #fff;
  font-size: 17px;
}

nav form button {
  padding: 0 15px;
  border: none;
  background: #eb4640;
  border-radius: 10px;
  color: #fff;
  font-size: 17px;
}

nav form button:hover {
  background: #b5121a;
}

#AboutUs{
  padding: 20px;
  margin: 2rem 3rem;
}

#AboutUs h1,h2{
  color: #b5121a;
  text-align: center;
}
#AboutUs  strong{
  color: #b5121a;
}

.content {
  margin-top: 2rem;
  text-align: left;
}
.team{
  text-align: center;
  color: #b5121a;
}
.content header {
  font-size: 30px;
  font-weight: 700;
}

.content .text {
  color: #eb4640;
}
.content .space {
  margin: 10px 0;
}
.checkout-contents lord-icon{
    margin-left: 30px;
}
.carousel-inner .carousel-item {
    height: 500px;
  }
  
.carousel-item img {
      position: absolute;
      object-fit:contain;
      top: 0;
      left: 0;
      min-height: 400px;
}

footer{
  background-color: #171c24
}
#ContactUs a{
  --bs-btn-color: #fff;
  --bs-btn-hover-color: #fff;
  --bs-btn-border-color: #b5121a;
  --bs-btn-hover-bg: #b5121a;
  --bs-btn-hover-border-color: #b5121a;
}
.cpright{
  background-color: #0b0c0d !important;
}
.cpright a{
  color: #eb4640;
}

.cpright a:hover{
  color: #b5121a;
}
.heading-prod{
  color: #b5121a;
}

.pos{
  position: relative;
  margin-bottom: 1.5rem;
  padding:0 0.75rem;
}
.category_link:hover::before{
  background: rgba(0,0,0,0);

}
.category_link:hover img {
  transform: scale(1.025)!important;
}
.category_link::before{
    content: "";
   
    position: absolute;
    background: rgba(0,0,0,.6);
    z-index: 1;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;

}
/* .category_link::after{
  content: attr(title);
  position: absolute;
  z-index: 1;
  top:50%;
  transform: translateY(-50%) ;
  text-align: center;
  font-size: 1.5rem;
  line-height: 1.2;
  color: #df5757;
  padding: 0 3rem;
} */
.prod_snippet{
  position: relative;
  
}
.cat_name{
  font-size: 2rem;
  text-transform: capitalize;
  color: #eb4640;
  font-weight: 600;
  position: absolute;
  bottom: 0;
  left:50%;
  transform: translateX(-50%);
  z-index: 10;
}
.on-img span{
  position: absolute;
  top: 0;
}
.pos span{
  margin: 14px 18px;
  padding: 14px 18px;
  border: none;
  background: #b5121a;
  border-radius: 24px;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  transition: 0.3s ease;
}
.pos span:hover{
  font-size: 20px;
  letter-spacing: 1px;
}


/* .products{
  display: flex;
  flex-direction: column;
 

 
  align-items: center;
} */
.product{
  display: flex;
  flex-wrap: wrap;
  gap: 9rem;
  justify-content: center;
}
.prod_desc{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.price{
  position: absolute;
  bottom: -30px;
}
.cards-list {
  width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: space-between;
    align-items: center;
    gap: 9rem;
}



.card {
  margin: 30px auto;
  width: 300px;
  height: 300px;
  border-radius: 40px;
box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
  cursor: pointer;
  transition: 0.4s;
}

.card .card_image {
  width: inherit;
  height: inherit;
  border-radius: 40px;
}

.card .card_image img {
  width: inherit;
  height: inherit;
  border-radius: 40px;
  object-fit: cover;
}

.card .card_title {
  text-align: center;
  border-radius: 0px 0px 40px 40px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 30px;
  margin-top: -80px;
  height: 40px;
}

.card:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
    -5px -5px 30px 15px rgba(0,0,0,0.22);
}

.title-white {
  color: white;
}

.title-black {
  color: black;
}





/* .card {
  margin: 30px auto;
  width: 300px;
  height: 300px;
  border-radius: 40px;
  background-image: url('https://i.redd.it/b3esnz5ra34y.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-repeat: no-repeat;
box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
  transition: 0.4s;
} */
