@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none !important;
  outline: none;
  cursor: url("https://cdn.custom-cursor.com/db/cursor/32/Naruto_Sakura_HarunoKunaiShurikenCursor.png"),auto  !important;
}

body {
  background: #f2f2f2;
}

nav {
  display: block;
  background: #171c24;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 0 50px;
}

nav .logo {
  color: #b5121a;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: -1px;
}
nav .nav-items {
  display: flex;
  padding: 0 0 0 40px;
}

nav .nav-items li {
  padding: 0 15px;
}

nav .nav-items li a{
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  transition: 0.3s ease;
}

nav .nav-items li a:hover{
  color: #b5121a;
  background-color: #171c24;
}
nav form {
  display: flex;
  height: 40px;
  padding: 2px;
  background: #1e232b;
  min-width: 18% !important;
  border-radius: 10px;
  border: 1px solid rgba(155, 155, 155, 0.2);
}

nav form .search-input {
  height: 100%;
  width: 100%;
  background: none;
  border: none;
  padding: 0 10px;
  color: #fff;
  font-size: 17px;
}

nav form button {
  padding: 0 15px;
  border: none;
  background: #eb4640;
  border-radius: 10px;
  color: #fff;
  font-size: 17px;
}

nav form button:hover {
  background: #b5121a;
}

#AboutUs{
  padding: 20px;
  margin: 2rem 3rem;
}

#AboutUs h1,#AboutUs h2{
  color: #b5121a;
  text-align: center;
}
#AboutUs  strong{
  color: #b5121a;
}

.content {
  margin-top: 2rem;
  text-align: left;
}
.team{
  text-align: center;
  color: #b5121a;
}
.content header {
  font-size: 30px;
  font-weight: 700;
}

.content .text {
  color: #eb4640;
}
.content .space {
  margin: 10px 0;
}
.checkout-contents lord-icon{
    margin-left: 30px;
}
.carousel-inner .carousel-item {
    height: 500px;
  }
  
.carousel-item img {
  position: absolute;
  object-fit:contain;
  top: 0;
  left: 0;
  min-height: 400px;
}

footer{
  background-color: #171c24
}
#ContactUs a{
  --bs-btn-color: #fff;
  --bs-btn-hover-color: #fff;
  --bs-btn-border-color: #b5121a;
  --bs-btn-hover-bg: #b5121a;
  --bs-btn-hover-border-color: #b5121a;
}
.cpright{
  background-color: #0b0c0d !important;
}
.cpright a{
  color: #eb4640;
}

.cpright a:hover{
  color: #b5121a;
}
.heading-prod{
  color: #b5121a;
  font-size: 30px;
}
.pos{
  position: relative;
  margin-bottom: 1.5rem;
  padding:0 0.75rem;
}
.category_link:hover::before{
  background: rgba(0,0,0,0);

}
.category_link:hover img {
  transform: scale(1.025)!important;
}
.category_link::before{
  content: "";
  position: absolute;
  background: rgba(0,0,0,.6);
  z-index: 1;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}
.prod_snippet{
  position: relative;
}
.cat_name{
  font-size: 1.5rem;
  text-transform: capitalize;
  color: #eb4640;
  font-weight: 600;
  position: absolute;
  bottom: 0;
  left:50%;
  transform: translateX(-50%);
  z-index: 10;
}
.on-img span{
  position: absolute;
  top: 0;
}
.pos span{
  margin: 14px 18px;
  padding: 14px 18px;
  border: none;
  background: #b5121a;
  border-radius: 24px;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  transition: 0.3s ease;
}
.pos span:hover{
  font-size: 20px;
  letter-spacing: 1px;
}
#products h2{
  margin-top: 30px;
  font-size: 50px;
  color: #b5121a;
  font-weight: bolder;
  text-align: center;
 }
 .single-product {
  /* margin: 0 12.5px 40px; */
  margin: 30px 0;
  padding: 10px;
  background-color: #e9e6e6;
  border-radius: 5px;
}
.single-product .product-img a {
  display: block;
  position: relative;
}
.single-product .product-img a img {
  height: 450px;
  object-fit: cover;
  width: 100%;
}
.single-product .product-img a span.out-of-stock {
  background-color: #ed1b24;
  display: inline-block;
  font-size: 11px;
  color: #fff;
  left: 20px;
  top: 20px;
  padding: 1px 16px;
  font-weight: 700;
  border-radius: 0;
  text-align: center;
  position: absolute;
  text-transform: uppercase;
  border-radius: 30px;
  height: 26px;
  line-height: 24px;
}

.single-product .product-content {
  margin-top: 25px;
}
.single-product .product-content h3 {
  line-height: 22px;
  justify-content:flex-start ;
}
.single-product .product-content h3 a {
  display: block;
  font-size: 1em;
  color: #141519;
  font-weight: 500;
  margin: 0;
  height: 38px;
  text-transform: capitalize;
  transition: 0.1s ease-in-out;
}
.single-product .product-content h3 a:hover{
  color: #b5121a;
}
.single-product .product-content .product-price {
  margin: 4px 0;
  line-height: 1;
}
.single-product .product-content .product-price span.old {
  text-decoration: line-through !important;
  float: right;
  opacity: .6;
  font-size: 15px;
  color: #4a4e58!important;
  margin-right: 15px;
  font-weight: 400;
}
.single-product .product-content .product-price span {
  font-size: 20px;
  font-weight: 500;
  color: #b5121a;
}
.single-product .product-img a::before{
  content: "";
  position: absolute;
  background: rgba(0,0,0,.6);
  z-index: 1;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;

}
.single-product .product-img:hover img {
  transform: scale(1.025)!important;
}
.single-product .product-img a:hover::before{
  background: rgba(0,0,0,0);
}
.cat_buy_now{
  margin: 12px 0 0;
  font-size: 14px;
  background: #b5121a;
  height: 40px;
  color: #f2f2f2;
  border-color: #fab818;
  font-weight: 700;
  box-shadow: none;
  line-height: 38px;
  display: block!important;
  width: 100%;
  border-radius: 5px;
  text-align: center;
}
.cat_buy_now:hover{
  background: #92080f;
  color: #fff;
}